In [1]:
library("data.table")

In [2]:
dt = fread("data//simple_data.csv")

In [3]:
train_frac = 0.6

In [4]:
set.seed(42)
dt[, Split := ifelse(sample((1:.N) <= .N*train_frac), "Train", "Val"), Nationality]
dt

   Name     Sex Age Nationality FavoriteSeason Split
1  Alice    F   23  UK          Fall           Train
2  Bob      M   50  UK          Winter         Val
3  Cecily   F   46  BE          Spring         Val
4  Dan      M   37  BE          Fall           Train
5  Eve      F   37  UK          Summer         Val
6  Felix    M   54  PL          Winter         Val
7  George   M   23  BE          Summer         Val
8  Jan      M   47  PL          Spring         Train
9  Małgosia F   28  PL          Fall           Val
10 John     M   23  UK          Fall           Train
11 Bart     M   41  BE          Winter         Train
12 Fryderyk M   59  PL          Summer         Train
13 Ann      F   49  UK          Fall           Train
14 Eva      F   50  BE          Winter         Train
15 Ola      F   48  PL          Summer         Train

## Benchmark

In [5]:
benchmark_stratification <- function() {
    dt = fread("data//simple_data_copied.csv")
    dt[, Split := ifelse(sample((1:.N) <= .N*train_frac), "Train", "Val"), Nationality]
    dt
}

In [6]:
start_time <- Sys.time()
benchmark_stratification()
end_time <- Sys.time()

end_time - start_time

Time difference of 0.8300476 secs