In [1]:
using CSV
using DataFrames
using Random

In [2]:
df = CSV.read("data/simple_data.csv", DataFrame)

15×5 DataFrame
 Row │ Name      Sex      Age    Nationality  FavoriteSeason
     │ String15  String1  Int64  String3      String7
─────┼───────────────────────────────────────────────────────
   1 │ Alice     F           23  UK           Fall
   2 │ Bob       M           50  UK           Winter
   3 │ Cecily    F           46  BE           Spring
   4 │ Dan       M           37  BE           Fall
   5 │ Eve       F           37  UK           Summer
   6 │ Felix     M           54  PL           Winter
   7 │ George    M           23  BE           Summer
   8 │ Jan       M           47  PL           Spring
   9 │ Małgosia  F           28  PL           Fall
  10 │ John      M           23  UK           Fall
  11 │ Bart      M           41  BE           Winter
  12 │ Fryderyk  M           59  PL           Summer
  13 │ Ann       F           49  UK           Fall
  14 │ Eva       F           50  BE           Winter
  15 │ Ola       F           48  PL           Summer

In [3]:
function split(x)
    n_row = length(x) 
    n_train = trunc(Int, n_row * 0.6)
    n_val = n_row - n_train
    split_v = vcat(repeat(["Train"], n_train), repeat(["Val"], n_val))
    return shuffle(split_v)
end

split (generic function with 1 method)

In [4]:
transform(groupby(df, "Nationality"), :Age => split)

15×6 DataFrame
 Row │ Name      Sex      Age    Nationality  FavoriteSeason  Age_split
     │ String15  String1  Int64  String3      String7         String
─────┼──────────────────────────────────────────────────────────────────
   1 │ Alice     F           23  UK           Fall            Val
   2 │ Bob       M           50  UK           Winter          Train
   3 │ Cecily    F           46  BE           Spring          Val
   4 │ Dan       M           37  BE           Fall            Val
   5 │ Eve       F           37  UK           Summer          Train
   6 │ Felix     M           54  PL           Winter          Val
   7 │ George    M           23  BE           Summer          Train
   8 │ Jan       M           47  PL           Spring          Train
   9 │ Małgosia  F           28  PL           Fall            Train
  10 │ John      M           23  UK           Fall            Val
  11 │ Bart      M           41  BE           Winter          Train
  12 │ Fryderyk  M           59  PL           Summer          Val
  13 │ Ann       F           49  UK           Fall            Train
  14 │ Eva       F           50  BE           Winter          Train
  15 │ Ola       F           48  PL           Summer          Train

## Benchmark

In [5]:
function to_bench()
    df = CSV.read("data/simple_data_copied.csv", DataFrame)
    transform(groupby(df, "Nationality"), :Age => split)
end

to_bench (generic function with 1 method)

In [6]:
@time begin
    to_bench()
end

  2.282674 seconds (256.48 k allocations: 255.393 MiB, 2.80% gc time, 11.45% compilation time)

1500000×6 DataFrame
     Row │ Name      Sex      Age    Nationality  FavoriteSeason  Age_split
         │ String15  String1  Int64  String3      String7         String
─────────┼──────────────────────────────────────────────────────────────────
       1 │ Alice     F           23  UK           Fall            Train
       2 │ Bob       M           50  UK           Winter          Train
       3 │ Cecily    F           46  BE           Spring          Val
       4 │ Dan       M           37  BE           Fall            Train
       5 │ Eve       F           37  UK           Summer          Val
       6 │ Felix     M           54  PL           Winter          Train
       7 │ George    M           23  BE           Summer          Train
       8 │ Jan       M           47  PL           Spring          Val
       9 │ Małgosia  F           28  PL           Fall            Val
      10 │ John      M           23  UK           Fall            Val
      11 │ Bart      M           41  BE           Winter          Train
    ⋮    │    ⋮         ⋮       ⋮         ⋮             ⋮             ⋮
 1499991 │ Felix     M           54  PL           Winter          Train
 1499992 │ George    M           23  BE           Summer          Val
 1499993 │ Jan       M           47  PL           Spring          Train
 1499994 │ Małgosia  F           28  PL           Fall            Train
 1499995 │ John      M           23  UK           Fall            Train
 1499996 │ Bart      M           41  BE           Winter          Train
 1499997 │ Fryderyk  M           59  PL           Summer          Val
 1499998 │ Ann       F           49  UK           Fall            Val
 1499999 │ Eva       F           50  BE           Winter          Val
 1500000 │ Ola       F           48  PL           Summer          Val
                                                        1499979 rows omitted

In [7]:
@time begin
    to_bench()
end

  2.165204 seconds (9.55 k allocations: 242.515 MiB, 11.00% gc time, 0.62% compilation time)

1500000×6 DataFrame
     Row │ Name      Sex      Age    Nationality  FavoriteSeason  Age_split
         │ String15  String1  Int64  String3      String7         String
─────────┼──────────────────────────────────────────────────────────────────
       1 │ Alice     F           23  UK           Fall            Val
       2 │ Bob       M           50  UK           Winter          Train
       3 │ Cecily    F           46  BE           Spring          Train
       4 │ Dan       M           37  BE           Fall            Train
       5 │ Eve       F           37  UK           Summer          Val
       6 │ Felix     M           54  PL           Winter          Train
       7 │ George    M           23  BE           Summer          Train
       8 │ Jan       M           47  PL           Spring          Val
       9 │ Małgosia  F           28  PL           Fall            Train
      10 │ John      M           23  UK           Fall            Val
      11 │ Bart      M           41  BE           Winter          Val
    ⋮    │    ⋮         ⋮       ⋮         ⋮             ⋮             ⋮
 1499991 │ Felix     M           54  PL           Winter          Train
 1499992 │ George    M           23  BE           Summer          Val
 1499993 │ Jan       M           47  PL           Spring          Train
 1499994 │ Małgosia  F           28  PL           Fall            Train
 1499995 │ John      M           23  UK           Fall            Train
 1499996 │ Bart      M           41  BE           Winter          Val
 1499997 │ Fryderyk  M           59  PL           Summer          Val
 1499998 │ Ann       F           49  UK           Fall            Val
 1499999 │ Eva       F           50  BE           Winter          Train
 1500000 │ Ola       F           48  PL           Summer          Train
                                                        1499979 rows omitted

In [8]:
using Pkg

In [9]:
Pkg.status()

Status `~/.julia/environments/v1.8/Project.toml`
  [336ed68f] CSV v0.10.7
  [c47d62df] DAQP v0.3.2
⌃ [a93c6f00] DataFrames v1.4.2
  [87dc4568] HiGHS v1.2.0
  [b99e6be6] Hypatia v0.7.1
  [7073ff75] IJulia v1.23.3
  [4076af6c] JuMP v1.4.0
  [2f354839] Pajarito v0.8.0
⌃ [91a5bcdd] Plots v1.36.0
Info Packages marked with ⌃ have new versions available and may be upgradable.